services:
  postgres:
    image: postgres:15
    container_name: cinecore-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: cinecore
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d cinecore" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: cinecore-app
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file:
      - .env

volumes:
  pgdata:
