server:
  port: 8080

spring:
  application:
    name: cinecore

  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/cinecore}
    username: ${DATABASE_USERNAME:cinecore}
    password: ${DATABASE_PASSWORD:cinecore123}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    deserialization:
      fail-on-unknown-properties: true

jwt:
  secret-key: ${JWT_SECRET_KEY:RbGsiQ7AavARvOeksh9RlEfS0qBfq+no5YdJmdpruAg=}
  expiration: ${JWT_EXPIRATION:3600000}
